<p>
  Je suis content :product-new works!
</p>


<div class="panel panel-primary">

  <div class="panel-heading">Nouveau produit</div>

  <div class="panel-body">

    <div class="container-fluid">
      <h1>Saisissez</h1>

      <form  #productForm="ngForm" (ngSubmit)="onSubmit(productForm.value)">

        <div class="form-group">
          <label>Nom</label>
          <input type="text" #nameRef required class="form-control" name="name" [(ngModel)]="myName">
          <p>{{myName}}</p>
          <b>{{nameRef.className}}</b>
        </div>


        <div class="form-group">
          <label>Note</label>
          <input type="text" class="form-control" name="note" ngModel>
        </div>

        <div class="form-group">
          <label>Visible</label>
          <input type="text" class="form-control" name="visible" ngModel>
        </div>

        <div class="form-group">
          <label>Images</label>
          <input type="text" class="form-control" name="image" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <form [formGroup]="maForme">

        <div class="form-group">
          <label>Index</label>
          <input type="text" class="form-control" name="index"  formControlName="index">
        </div>

      <button type="submit" class="btn btn-primary">Submit2</button>

      </form>

    </div>
  </div>
</div>
